<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Credit Card Form</title>
</head>

<body>
    <div class="wrapper" id="app">
        <div class="card-form">
            <div class="card-list">
                <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                    <div class="card-item_side -front">
                        <div class="card-item_focus" v-bind:class="{'-active' : focusElementStyle }"
                            v-bind:style="focusElementStyle" ref="focusElement"></div>
                        <div class="card-item_cover">
                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                class="card-item_bg">
                        </div>

                        <div class="card-item_wrapper">
                            <div class="card-item_top">
                                <img src="img/chip.png" class="card-item_chip">
                                <div class="card-item_type">
                                    <transition name="slide-fade-up">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                            v-if="getCardType" v-bind:key="getCardType" alt=""
                                            class="card-item_typeImg">
                                    </transition>
                                </div>
                            </div>
                            <label for="cardNumber" class="card-item_number" ref="cardNumber">
                                <template v-if="getCardType === 'amex'">
                                    <span v-for="(n, $index) in amexCardMask" :key="$index">
                                        <transition name="slide-fade-up">
                                            <div class="card-item_numberItem"
                                                v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">
                                                *</div>
                                            <div class="card-item_numberItem" :class="{ '-active' : n.trim() === '' }"
                                                :key="$index" v-else-if="cardNumber.length > $index">
                                                {{cardNumber[$index]}}
                                            </div>
                                            <div class="card-item_numberItem" :class="{ '-active' : n.trim() === '' }"
                                                v-else :key="$index + 1">{{n}}</div>
                                        </transition>
                                    </span>
                                </template>

                                <template v-else>
                                    <span v-for="(n, $index) in otherCardMask" :key="$index">
                                        <transition name="slide-fade-up">
                                            <div class="card-item_numberItem"
                                                v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">
                                                *</div>
                                            <div class="card-item_numberItem" :class="{ '-active' : n.trim() === '' }"
                                                :key="$index" v-else-if="cardNumber.length > $index">
                                                {{cardNumber[$index]}}
                                            </div>
                                            <div class="card-item_numberItem" :class="{ '-active' : n.trim() === '' }"
                                                v-else :key="$index + 1">{{n}}</div>
                                        </transition>
                                    </span>
                                </template>
                            </label>
                            <div class="card-item_content">
                                <label for="cardName" class="card-item_info" ref="cardName">
                                    <div class="card-item_holder">Titular do cartão</div>
                                    <transition name="slide-fade-up">
                                        <div class="card-item_name" v-if="cardName.length" key="1">
                                            <transition-group name="slide-fade-right">
                                                <span class="card-item_nameItem"
                                                    v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                                    v-if="$index === $index" v-bind:key="$index + 1">{{n}}</span>
                                            </transition-group>
                                        </div>
                                        <div class="card-item_name" v-else key="2">Nome completo</div>
                                    </transition>
                                </label>
                                <div class="card-item_date" ref="cardDate">
                                    <label for="cardMonth" class="card-item_dateTitle">Validade</label>
                                    <label for="cardMonth" class="card-item_dateItem">
                                        <transition name="slide-fade-up">
                                            <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
                                            <span v-else key="2">MM</span>
                                        </transition>
                                    </label>
                                    /
                                    <label for="cardYear" class="card-item_dateItem">
                                        <transition name="slide-fade-up">
                                            <span v-if="cardYear"
                                                v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                                            <span v-else key="2">AA</span>
                                        </transition>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-item_side -back">
                        <div class="card-item_cover">
                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                class="card-item_bg">
                        </div>
                        <div class="card-item_band"></div>
                        <div class="card-item_cvv">
                            <div class="card-item_cvvTitle">CVV</div>
                            <div class="card-item_cvvBand">
                                <span v-for="(n, $index) in cardCvv" :key="$index">
                                    *
                                </span>

                            </div>
                            <div class="card-item_type">
                                <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                    v-if="getCardType" class="card-item_typeImg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-form_inner">
                <div class="card-input">
                    <label for="cardNumber" class="card-input_label">Número do cartão</label>
                    <input type="text" id="cardNumber" class="card-input_input" v-mask="generateCardNumberMask"
                        v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber"
                        autocomplete="off">
                </div>
                <div class="card-input">
                    <label for="cardName" class="card-input_label">Titular do cartão</label>
                    <input type="text" id="cardName" class="card-input_input" v-model="cardName" v-on:focus="focusInput"
                        v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
                </div>
                <div class="card-form_row">
                    <div class="card-form_col">
                        <div class="card-form_group">
                            <label for="cardMonth" class="card-input_label">Data de validade</label>
                            <select class="card-input_input -select" id="cardMonth" v-model="cardMonth"
                                v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                <option value="" disabled selected>Mês</option>
                                <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12"
                                    v-bind:disabled="n < minCardMonth" v-bind:key="n">
                                    {{n < 10 ? '0' + n : n}} </option>
                            </select>
                            <select class="card-input_input -select" id="cardYear" v-model="cardYear"
                                v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                <option value="" disabled selected>Ano</option>
                                <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                                    {{$index + minCardYear}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="card-form_col -cvv">
                        <div class="card-input">
                            <label for="cardCvv" class="card-input_label">CVV</label>
                            <input type="text" class="card-input_input" id="cardCvv" v-mask="'####'" maxlength="3"
                                v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)"
                                autocomplete="off">
                        </div>
                    </div>
                </div>

                <button class="card-form_button">
                    Enviar
                </button>
            </div>
        </div>


    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>



    <script src="script.js"></script>
</body>

</html>